* {
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	margin: 0px;
	background: #F6D5FF;

	display: flex;
	align-items: center;
	justify-content: center;

	font-family: sans-serif;
}

.game {
	width: 640px;
	height: 480px;
	background: #ADC0DF;
	border: 2px solid #D5E5FF;
	box-shadow: 0px 0px 250px 25px #E580FF;
	border-radius: 25px;

	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
}

.game-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.game-container-grid {
	width: 320px;
	flex-direction: row;
	flex-wrap: wrap;
}

.game-state {
	padding: 30px 25px;
	background: #FFF6D5;
	border: 1px solid #FFDD55;
	border-radius: 25px;
	margin-bottom: 30px;
}
.game-state td {
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	color: #000000;
}
.game-state .color-gamewin {
	color: #87DE87;
}
.game-state .color-gameover {
	color: #FF8080;
}
.game-state .color-gamewin,
.game-state .color-gameover {
	padding-left: 35px;
}



.btn {
	width: 100px;
	height: 100px;
	padding: 0px;
	margin-bottom: 10px;
	margin-right: 10px;
	background: #9F9F9F;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 25px;

	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 10px;
	color: #000000;

	cursor: pointer;

	transition: 0.5s;

	position: relative;
}
.btn:nth-child(3n + 3) {
	margin-right: 0px;
}
.btn:hover {
	box-shadow: 0px 0px 10px rgba(0,0,0, 0.5);
	transition: 0.5s;
}
.btn:before {
	font-size: 64px;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.btn-refresh {
	background-color: #D7F4D7;
	border-color: #87DE87;
	color: #87DE87;
}
.btn-refresh:before {
	content: "\21BB";
}
.btn-x {
	background-color: #FFD5D5;
	border-color: #FF8080;
	color: #FF8080;
}
.btn-x:before {
	content: "\2716";
}
.btn-o {
	background-color: #FFF6D5;
	border: 1px solid #FFDD55;
	color: #FFDD55;
}
.btn-o:before {
	content: "\39F";
}
.btn-select {
	background-color: #D7F4D7;
	border-color: #87DE87;
}
